.bloco1 {

    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    
}

.bloco2 {

    background-color: green;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco3 {

    background-color: blue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}






.container-row {

    display: flex;
    flex-direction: row;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;

}


.container-row-reverse {

    display: flex;
    flex-direction: row-reverse;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
}


.container-column {

    display: flex;
    flex-direction: column;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
}


.container-column-reverse {

    display: flex;
    flex-direction: column-reverse;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
}


.container-justify-center {

    display: flex;
    flex-direction: row;
    justify-content: center;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
}


    .container-justify-flex-start{

        display: flex;
    flex-direction: row;
    justify-content: flex-start;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
    }


    .container-justify-flex-end {

        display: flex;
    flex-direction: row;
    justify-content: flex-end;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
    }


    .container-justify-space-between{

        display: flex;
    flex-direction: row;
    justify-content: space-between;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
    }


    .container-justify-space-evenly {

        display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
    }


    .container-justify-space-around {

        display: flex;
    flex-direction: row;
    justify-content: space-around;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
    }


    .container-alignitems-center {

        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    /*indiferente*/
    background-color: black;
    padding: 16px;
    height: 500px;
    }


    .container-alignitems-flex-start {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    
    
        /*indiferente*/
        background-color: black;
        padding: 16px;
        height: 500px;
    }


  .container-alignitems-flex-end {

    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    
    
        /*indiferente*/
        background-color: black;
        padding: 16px;
        height: 500px;
  }  


  .container-alignitems-stretch {

    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    
    
        /*indiferente*/
        background-color: black;
        padding: 16px;
        height: 500px;
  }


