.bloco1 {

    background-color: #00008B;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;


}

.bloco2 {

    background-color: #0000CD;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;
}

.bloco3 {

    background-color: #4169E1;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;
}


.bloco1-sem-altura {

    background-color: #00008B;

    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;


}

.bloco2-sem-altura {

    background-color: #0000CD;

    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;


}

.bloco3-sem-altura {

    background-color: #4169E1;

    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;


}

.bloco1-fontes-diferentes {

    background-color: #00008B;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;


}

.bloco2-fontes-diferentes {

    background-color: #0000CD;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;


}

.bloco3-fontes-diferentes {

    background-color: #4169E1;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 16px;


}


h1 {

    text-align: center;
}

body {

    background-color: #E0FFFF;
    margin: 50px 30px 50px 30px;
}

.textopropriedades {

    text-align: center;
    
    
}

.textopropriedades2 {

    text-align: center;
    color: #CD5C5C;
    
    
}




.container-row {

    display: flex;
    flex-direction: row;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;

}


.container-row-reverse {

    display: flex;
    flex-direction: row-reverse;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-column {

    display: flex;
    flex-direction: column;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-column-reverse {

    display: flex;
    flex-direction: column-reverse;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-justify-center {

    display: flex;
    flex-direction: row;
    justify-content: center;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-justify-flex-start {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-justify-flex-end {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-justify-space-between {

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-justify-space-evenly {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-justify-space-around {

    display: flex;
    flex-direction: row;
    justify-content: space-around;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-alignitems-center {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-alignitems-flex-start {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-alignitems-flex-end {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-alignitems-stretch {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


.container-alignitems-baseline {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-nowwrap {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-wrap {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-wrapreverse {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}

.container-flexflow-row-nowrap {

    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    /*flex-wrap: nowrap;*/
    flex-flow: row nowrap;


    /*indiferente*/
    background-color: #87CEEB;
    padding: 16px;
    height: 500px;
}


